body{
	background-color: #337733;
	color: white;
}
#tbl_main{
	display: table;
	border-width: medium;
  	border-style: groove;
}
.row{
	display: table-row;	
}
.column{
	display: table-cell;
	text-align: center;
	border-width: medium;
  	border-style: groove;
}
